.author-link {
  color: var(--gray-800);
  text-decoration: underline;
}

.show-more {
  position: relative;
  padding: 0 0.25rem;
  margin: 0 0.25rem;
  color: var(--gray-700);
  text-transform: uppercase;
  white-space: nowrap;
  background: var(--gray-100);
}

.show-more::after {
  position: absolute;
  right: -0.05rem;
  content: ',';
}

.more-authors {
  display: none;
}

.more-authors-box {
  display: contents;
}

.more-authors-expanded .show-more {
  display: none;
}

.more-authors-expanded .more-authors {
  display: inline-block;
}
