.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.icon-menu {
  color: var(--gray-700);
}

.icon-menu-active {
  transform: rotate(180deg);
}

.content {
  flex: 1;
  margin-left: 0.6rem;
  /* stylelint-disable */
  text-decoration: none !important;
}

.title {
  margin: 0;
}

.title-colored {
  color: var(--primary);
}

.subtitle {
  display: block;
  padding-bottom: 0.3rem;
  margin-top: 0.3rem;
  color: var(--gray-700);
}

.activeClass {
  border: 1px solid #B75400;
  background: #F5F5F5;
  padding: 0.5rem;
}

.placement {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -1rem;
}

.memberType {
  min-width: 113px;
  width: max-content;
  background: #B75400;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.004em;
  color: #FFFFFF;
  padding: 0.25rem;
  align-items: flex-end;
}
