.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.icon-menu {
  color: var(--gray-700);
}

.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0.1rem;
  border: 1px solid var(--primary);
  border-radius: 50%;

  &::before {
    position: absolute;
    z-index: -1;
    content: ' ';
    border: 2px solid var(--gray-300);
    border-radius: 50%;
    inset: 0;
  }

  & .image {
    width: 35px;
    height: 35px;
    object-fit: contain;
    color: var(--gray-700);
  }
}

.icon-menu-active {
  transform: rotate(180deg);
}

.content {
  flex: 1;
  margin-left: 0.6rem;
  /* stylelint-disable */
  text-decoration: none !important;
}

.title {
  margin: 0;
}

.title-colored {
  color: var(--primary);
}

.subtitle {
  display: block;
  padding-bottom: 0.3rem;
  margin-top: 0.3rem;
  color: var(--gray-700);
}
