.item {
  --app-bar-padding-y: 0.25rem;

  flex: 1;
}

.search-area {
  --search-grid-padding: calc(var(--app-bar-logo-width) + 1rem);
}

.result-card {
  --icon-color: currentColor;
  color: var(--gray-800);
}

.result-title {
  margin-left: 0.5rem;
  font-weight: 500;
  color: var(--primary);
}

.result-heading {
  display: flex;
}

.result-metadata {
  --icon-color: var(--gray-800);
  --link-color: var(--gray-800);
  --link-hover-color: var(--gray-900);
  --link-visited-color: var(--gray-800);

  display: flex;
  flex-direction: row;
  padding: 0;
  color: var(--gray-800);
}

.result-metadata li {
  padding-right: 1rem;
  list-style-position: inside;
}

.result-metadata li:first-child {
  list-style: none;
}

.load-more {
  margin-top: 1rem;
  border: 1px dashed var(--gray-200);
}
