.layout {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 50rem;
  margin: auto 0;
}

.submit-section {
  display: flex;
  margin-top: 2rem;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.form {
  margin-top: 1rem;
}
