@custom-media --screen-until-desktop (max-width: 727px);

.select {
  --select-background: var(--gray-200);
  --select-focused-background: var(--white);
  --selected-option-color: var(--gray-200);
  --form-control-padding-y: 0.5rem;
  --form-control-color: var(--gray-700);

  min-width: 20rem;
  max-width: calc(
    (100vw - 2 * var(--page-padding)) * var(--search-results-percentage-width)
  );

  padding: calc(0.25rem - 1px) 0.25rem 0.25rem;
}

.select ul > * {
  padding: 0.25rem;
}

.select:focus-within {
  --form-control-color: var(--primary);

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select:focus-within div:nth-child(2) {
  border-bottom: 1px solid var(--primary);
}

.select div:nth-child(2) > * {
  border: none;
}

.select label {
  font-weight: 400;
  color: var(--black);
}

@media (--screen-until-desktop) {
  .select {
    max-width: 100%;
  }

  .select:focus-within {
    position: absolute;
    right: 1rem;
    left: 1rem;
    max-width: calc(100vw - var(--page-padding));
  }
}
