.container {
  --app-bar-skip: 3.5rem;
  --app-bar-logo-width: 6rem;
  --page-padding-x: calc(var(--app-bar-logo-width) + var(--app-bar-padding-x));
  --page-padding-y: calc(var(--page-padding-x) / 2);
  --search-results-percentage-width: calc(2 / 3);

  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--app-bar-skip);
  overflow-x: auto;
  background: var(--white);
}

@media (--screen-until-large-desktop) {
  .container {
    --search-results-percentage-width: calc(1 / 2);
    --page-padding-x: 1rem;
    --page-padding-y: 1rem;
  }
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--page-padding-y) var(--page-padding-x);
}

.app-bar {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-bar-skip);
}

.app-bar .brand {
  display: inline-flex;
  flex-wrap: nowrap;
  width: var(--app-bar-logo-width);
  white-space: nowrap;
}

.navigation {
  order: 3;
}

@media (--screen-until-desktop) {
  .navigation {
    display: none;
  }
}

.navigation-list {
  display: inline-flex;
}

.navigation .link {
  --button-color: #2a3840;

  text-transform: none;
}

.navigation .link:hover,
.navigation .link:focus {
  --button-color: var(--primary);

  text-transform: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--page-padding-x);
  margin-top: auto;
  background: var(--gray-200);
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background: var(--gray-100);
}

.footer-main-right {
  flex: 1;
  align-self: flex-start;
  min-width: 20rem;
  padding: 1rem;
  background: var(--white);
}

.footer-main-left {
  flex: 3 1 auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.footer-link {
  flex: 0 1 33%;
  margin: 0 0 1.5rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.logo {
  height: 6rem;
  margin: 0 1rem;
}

.logo img {
  width: auto;
  height: 100%;
}

.not-for-profit-notice {
  max-width: 15rem;
  margin: 0.5rem 1rem;
}

.not-for-profit-notice a {
  font-weight: 600;
}

@media (--screen-until-desktop) {
  .not-for-profit-notice {
    max-width: initial;
  }

  .footer-main-right {
    flex: 0 0 100%;
    min-width: initial;
  }

  .footer-link {
    flex: 0 1 50%;
  }
}
