.layout {
  padding: var(--page-padding-y) var(--page-padding-x);
}

.search p {
  margin-bottom: 1rem;
}

.search-results {
  margin-bottom: 3rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-dots {
  padding: 0 1rem;
  color: var(--gray-700);
}

.pagination-item {
  width: 47px;
  height: 47px;
  padding: 0;
  color: var(--gray-800);
  cursor: pointer;
  border-radius: 50%;
}

.pagination-item-active {
  color: var(--white);
  pointer-events: none;
  background-color: var(--primary);
}

.pagination-item-disabled {
  color: var(--gray-200);
  pointer-events: none;
}

.more {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--gray-200);
}

.not-found {
  margin-top: 1rem;
  text-align: center;
}
