.layout {
  padding: var(--page-padding-y) var(--page-padding-x);
}

.search p {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-share {
  color: var(--gray-800);
  cursor: pointer;
}

.button-share:hover,
.button-share:focus {
  --button-overlay: none;
  --button-focus-ring: none;
}

.search-results {
  margin-bottom: 3rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination button {
  text-transform: lowercase;
}

.pagination-dots {
  padding: 0 1rem;
  color: var(--gray-700);
}

.pagination-item {
  width: 47px;
  height: 47px;
  padding: 0;
  color: var(--gray-800);
  cursor: pointer;
  border-radius: 50%;
}

.pagination-item-active {
  color: var(--white);
  pointer-events: none;
  background-color: var(--primary);
}

.pagination-item-disabled {
  color: var(--gray-200);
  pointer-events: none;
}

.more {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--gray-200);
}

.slider {
  width: 100%;
}

.hidden {
  display: none;
}

.notification {
  position: absolute;
  top: 5%;
  left: 50%;
  display: block;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--gray-600);
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
}
