.submit-section {
  display: flex;
  margin-top: 2rem;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.result-card {
  --icon-color: currentColor;
  color: var(--gray-800);
}

.result-title {
  margin-left: 0.5rem;
  font-weight: 500;
  color: var(--primary);
}

.result-heading {
  display: flex;
}

.result-metadata {
  --icon-color: var(--gray-800);
  --link-color: var(--gray-800);
  --link-hover-color: var(--gray-900);
  --link-visited-color: var(--gray-800);
}

.load-more {
  margin-top: 1rem;
  border: 1px dashed var(--gray-200);
}

.add-data-provider {
  margin-top: 2rem;
  color: var(--gray-700);
}

.add-data-provider-card {
  background: transparent;
  border: 1px solid var(--gray-200);
  box-shadow: none;
}

.map {
  height: 15rem;
  grid-row: 3;
}

.layout {
  padding: var(--page-padding-y) var(--page-padding-x);
}
