.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  margin: 20% auto 0;
}

.submit-section {
  display: flex;
  margin-top: 2rem;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.form {
  margin-top: 2rem;
}

.message {
  align-self: center;
}

.reset-button {
  align-self: flex-start;
}
