.dropdown {
  margin-top: 1rem;
}

.dropdown:not(:last-child) {
  margin-bottom: 1rem;
}

.dropdown-content {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--gray-100);
}

.identifier {
  display: block;
  color: var(--primary);
}

.icon-copy {
  margin-left: 0.6rem;
  cursor: pointer;
}

.date,
.link {
  display: block;
  color: var(--gray-800);
}

.link-disabled {
  color: var(--gray-500);
}

.oai-logo {
  margin-right: 0.5rem;
}

.member-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 2px 4px;
  margin-top: 1rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.004em;
  background: #b75400;
  border-radius: 2px;
}
