.dropdown {
  margin-top: 1rem;
}

.dropdown:not(:last-child) {
  margin-bottom: 1rem;
}

.identifier {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}

.inner-identifier {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-copy {
  margin-left: 0.6rem;
  cursor: pointer;
}

.date,
.link {
  display: block;
  color: var(--gray-800);
}

.link-disabled {
  color: var(--gray-500);
}

.oai-logo {
  margin-right: 0.5rem;
}

.logo {
  margin: 0 0.5rem;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 30%;
  z-index: 4;
  width: max-content;
  max-width: 300px;
  padding: 4px;
  font-size: 14px;
  text-align: center;
  white-space: normal;
  background: #f5f5f5;
  border-radius: 6px;
  transform: translateX(-50%);
}

.tooltip::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  border-top: 5px solid #f5f5f5;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: translateX(-50%);
}

.member-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 2px 4px;
  margin-top: 1rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.004em;
  background: #8bc34a;
  border-radius: 2px;
}

.member-highlight:hover {
  color: #fff;
  text-decoration: none;
}
