.block {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  position: relative;
  font-size: 1rem;
  display: flex;
}

.column-icon,
.column-text {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.item {
  margin: 0.2rem 0;
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.column-text {
  padding-right: 1rem;
}

.column-icon {
  color: rgba(0, 0, 0, 0.38);
  align-items: center;
}

.column-icon svg {
  cursor: pointer;
}

.cite-button {
  font-weight: 800;
}

.cite-icon {
  position: relative;
  bottom: 2px;
}
