.block {
  position: relative;
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.column-icon,
.column-text {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: left;
  margin: 0.2rem 0;
}

.column-text {
  flex: 1 1 auto;
  padding-right: 1rem;
}

.column-icon {
  align-items: center;
  color: rgba(0, 0, 0, 0.38);
}

.column-icon svg {
  cursor: pointer;
}

.cite-button {
  font-weight: 800;
}

.cite-icon {
  position: relative;
  bottom: 2px;
}

.cite-title {
  margin: -0.3rem 0 1.3rem 0.5rem;
}

.copied-success {
  color: var(--primary);
}

.text-copied {
  position: absolute;
  top: 20px;
  right: 4px;
  font-size: 0.6rem;
  color: var(--primary);
}
