@custom-media --screen-until-desktop (max-width: 727px);

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: calc(var(--search-results-percentage-width) * 100%) auto;
  grid-auto-rows: auto;
}

.search-results {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  align-items: stretch;
}

.content {
  grid-column: 2;
  border: none;
  box-shadow: none;
}

.result {
  grid-column: 1;
  background: transparent;
  border: 1px solid var(--gray-200);
  box-shadow: none;
}

.result:not(:first-child) {
  margin-top: 1rem;
}

.result-stats {
  color: var(--gray-600);
}

.action {
  align-self: start;
}

@media (--screen-until-desktop) {
  .container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .search-results {
    display: contents;
  }

  .content {
    grid-column: 1;
    grid-row: 2;
  }

  .result-stats ~ .content {
    grid-row: 3;
  }

  .result {
    margin: 0;
  }

  .result:not(:first-child) {
    margin-top: 0;
  }
}
