.layout {
  z-index: 5;
}

.title-box {
  grid-row: 1;
  margin-bottom: 1rem;
}

.search {
  grid-row: 2;
}

.title {
  margin-top: 0;
}

.card:not(:last-child) {
  margin-bottom: 1rem;
}

.claim-card {
  box-shadow: none;
}

.claim-card-actions {
  display: flex;
  flex-wrap: wrap;
}

.claim-card-action {
  margin-top: 1rem;
  grid-row: 6;
}

.map-card {
  grid-row: 5;
}

.claim-card-action:not(:last-child) {
  margin-right: 0.5rem;
}

.card .map {
  width: auto;
  margin: calc(-1 * var(--card-padding-y)) calc(-1 * var(--card-padding-x))
    var(--card-padding-x) calc(-1 * var(--card-padding-x));
}

.no-results-find {
  margin-top: 1rem;
}
