.layout {
  z-index: 5;
}

.title-box {
  grid-row: 1;
  margin-bottom: 1rem;
}

.search {
  grid-row: 2;
}

.title {
  margin-top: 0;
}

.card:not(:last-child) {
  margin-bottom: 1rem;
}

.claim-card {
  box-shadow: none;
}

.claim-card-actions {
  display: flex;
  flex-wrap: wrap;
}

.claim-card-action {
  margin-top: 1rem;
  grid-row: 6;
}

.map-card {
  grid-row: 5;
}

.claim-card-action:not(:last-child) {
  margin-right: 0.5rem;
}

.card .map {
  width: auto;
  margin: calc(-1 * var(--card-padding-y)) calc(-1 * var(--card-padding-x))
    var(--card-padding-x) calc(-1 * var(--card-padding-x));
}

.result {
  --card-padding-x: 0.5rem;
  --card-padding-y: 0.5rem;

  display: flex;
}

.result-image {
  position: relative;
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.result-image > img {
  width: 100%;
  height: auto;
}

.result-content {
  display: flex;
  flex-direction: column;
}

/* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
.result-title {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 500;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.result-abstract {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix  */
.result-metadata {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

.result-metadata-item:not(:first-child) {
  position: relative;
  padding-left: 1rem;
  overflow: hidden;
}

.result-metadata-item:not(:first-child)::before {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  content: '';
  background: var(--gray-500);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.free-pdf {
  font-size: 0.75rem;
  color: var(--white);
  text-align: center;
  background: var(--primary);
}
