.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

.claim-card {
  box-shadow: none;
}

.claim-card-actions {
  display: flex;
  flex-wrap: wrap;
}

.claim-card-action {
  margin-top: 1rem;
  grid-row: 6;
}

.claim-card-group {
  margin-bottom: 15px;
}

.input-pointer input {
  cursor: pointer;
}

.input-email {
  color: var(--form-helper-color);
}

.input-email input {
  border-color: var(--form-helper-color);
}

.input-email label {
  color: var(--form-helper-color);
}

.input-email span {
  border-color: var(--form-helper-color);
}

.input-email svg {
  fill: var(--form-helper-color) important;
}

.claim-card-action:not(:last-child) {
  margin-right: 0.5rem;
}

.footer,
.footer-close {
  display: flex;
}

.footer {
  justify-content: end;
}

.footer-close {
  justify-content: start;
}

.footer .continue {
  margin-left: 15px;
}

.hide {
  display: none;
}

.success-modal-content {
  display: inline-flex;
  flex-direction: column;
}

.success-image-invitation {
  align-self: center;

  /* TODO: Ask Viktor how svg images in html works (width: auto doesn't work as expected) */
  width: 24rem;
  height: 15rem;
}

.success-image-check {
  align-self: center;
  width: 15rem;
  height: 15rem;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-edit {
  width: 2rem;
  height: 2rem;
}

.icon-back {
  width: 2rem;
}

.label {
  position: absolute;
  top: -21px;
  z-index: 110;
}

.link-underline {
  text-decoration: underline;
}

.button-revers {
  color: var(--primary);
  background-color: #fff;
  box-shadow: none;
}

.button-revers:hover {
  background-color: #fff;
  box-shadow: none;
}

.modal-sign-in {
  max-width: 28rem;
}

.helper {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  padding: 16px;
  margin-bottom: 25px;
  color: #424242;
  background-color: #F5F5F5;
}
